

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="styles/styles.css">
    </head>
    <body>
        <nav>
            <ul class="nav-items">
                {% for item in site.data.navigation %}
                    <li><a href="{{item.link}}">{{item.name}}</a></li>
                {% endfor %}
            </ul>
        </nav>
        <section class="wrapper">
            {{ content }}
        </section>
        <footer>
            Made by Guillaume Cristiani, aka Trioud
        </footer>
    </body>
</html>