.nav-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    list-style: none;
    margin-right: 20px;
    width: fit-content;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
}

.wrapper {
    margin: 0 16px;
}

img {
    height: auto;
    max-width: 300px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
    font-style: italic;
    font-size: 16px;
    background-color: aliceblue;
}